body {
	margin: 0;
	user-select: none;
	overflow: hidden;
	font-family: 'Roboto', sans-serif;
}

.tutorial {
	position: absolute;
	width: 100vw;
	height: 100vh;
	z-index: 100;
	background: #0007;
	color: #fff;
}

.tutorial .skip {
	position: absolute;
	right: 0;
	bottom: 0;
	width: 250px;
	text-align: center;
	height: 75px;
	line-height: 75px;
	text-transform: uppercase;
	color: #fff7;
	font-size: 1.4em;
	transition: .15s all ease;
	cursor: pointer;
}

.tutorial .skip:hover {
	color: #fff;
}

.tutorial .hint {
	background: #fff;
	border-radius: 5px;
	border: 2px solid #ccc;
	width: 300px;
	color: #000;
	padding: 10px;
	position: absolute;
}

.tutorial .hint .continue {
	text-align: right;
	font-size: .8em;
	margin-top: 5px;
	color: #777;
}

canvas {
	position: absolute;
	top: 100px;
}

.nav {
	height: 100px;
	width: 100vw;
	display: flex;
	color: #0f8;
	background: #000;
	position: absolute;
}

.nav > div {
	display: flex;
	text-align: center;
	font-size: 1.2em;
	position: absolute;
}

.nav > div > div {
	width: 100px;
	transition: .15s all ease;
	cursor: pointer;
	border: 1px solid #fff3;
}

.nav > div > div.active {
	border: 2px solid #0f8;
	border-right: 0;
	border-left: 0;
	
}

.main {
	right: 0;
	height: 100px;
	line-height: 100px;
}

.main > div {
	border: 0 !important;
}

.alg, .move {
	width: 150px;
	height: 60px;
	line-height: 60px;
	overflow: hidden;
	margin: 20px;
}

.alg {
	right: 200px;
}

.s { border-radius: 20px 0 0 20px; }
.e { border-radius: 0 20px 20px 0; }
.active-s {	border-left: 2px solid #0f8 !important; }
.active-e {	border-right: 2px solid #0f8 !important; }